<section class="kategori-product" >
    <div class="kategori">
      <div class="kategori-box">
        <ul>
          <li><a routerLink='kategori/elektronik'>Elektronik</a></li>
          <li><a routerLink='kategori/fashion'>Fashion</a></li>
          <li><a routerLink='kategori/otomotif'>Otomotif</a></li>
          <li><a routerLink='kategori/foods'>Food & Drink</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="daftar-product">
    <div class="product">
    </div>
  </section>
