<div class="card" style="width: 300px;"><a routerLink="elektronik/detail-product">
    <img src="assets/img/ac-elektronik.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="product-name">Samsung AC Standart 2.PK</p>
      <div class="product-price">
          <div class="rating">
            <div class="price">Rp.250.000</div>
            <div class="start">
                <img src="assets/icon/yellow-start.png" alt="" class="icon">
                <img src="assets/icon/yellow-start.png" alt="" class="icon">
                <img src="assets/icon/yellow-start.png" alt="" class="icon">
                <img src="assets/icon/yellow-start.png" alt="" class="icon">
                <img src="assets/icon/black-start.png" alt="" class="icon">
            </div>
          </div>
      </div>
    </div>
</a></div>
