<div class="loginBox">
    <div class="profil"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
    <h3>Login</h3>
    <form action="">
        <div class="inputBox">
            <span><i class="fa fa-user"></i></span>
            <input type="text" placeholder="username">
        </div>
        <div class="inputBox">
            <span><i class="fa fa-lock"></i></span>
            <input type="password" placeholder="password">
        </div>
        <input type="submit" value="login">
    </form>
    <a href="">Register</a>
</div>
