<div class="container">
    <ul >
        <li  *ngFor="let product of Products">
            <div class="card" style="width: 300px;" >
                <img src="{{product.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="product-name" >{{product.title}}</p>
                    <div class="product-price">
                        <div class="rating">
                            <div class="price">Rp.{{product.price}}</div>
                            <div class="start">
                                <!-- <p>{{product.location}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>