<div class="card" style="width: 300px;" *ngFor="let elektronik of productEl">
    <img src="assets/img/ac-elektronik.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="product-name">{{elektronik.title}}</p>
      <div class="product-price">
          <div class="rating">
            <div class="price">Rp.150.000</div>
            <div class="start">
                <img src="assets/icon/yellow-start.png" alt="" class="icon">
                <img src="assets/icon/yellow-start.png" alt="" class="icon">
                <img src="assets/icon/yellow-start.png" alt="" class="icon">
                <img src="assets/icon/yellow-start.png" alt="" class="icon">
                <img src="assets/icon/black-start.png" alt="" class="icon">
            </div>
          </div>
      </div>
    </div>
</div>
