<div class="container">
    <div class="box">
        <h1>Register</h1>
        <div class="user">
            <input type="text" name="username" id="username" placeholder="Full name">
            <input type="text" name="username" id="username" placeholder="Email Address">
            <input type="text" name="" id="password" placeholder="handphone">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="login-btn">
            <button class="btn">submit</button>
            <p class="signup">Already have an account ? <span>Login</span></p>
        </div>
    </div>
</div>
